# Node dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local

# IDE/editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Optional: Ignore saved JSON if not tracking in Git
# /data/feeds.json
# /data/presets.json
